@model databaseCrawlerFinal.Models.people

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>people</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compress_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compress_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enc_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enc_pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.person_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
