@model IEnumerable<databaseCrawlerFinal.Models.people>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compress_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hash_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enc_pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compress_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hash_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enc_pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.person_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.person_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.person_id })
        </td>
    </tr>
}

</table>
