@model databaseCrawlerFinal.Models.characters

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>characters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.character_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.character_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.race_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.race_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.character_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
