@model IEnumerable<databaseCrawlerFinal.Models.shows>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.show_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_seasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.initial_year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.show_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_seasons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.initial_year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.show_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.show_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.show_id })
        </td>
    </tr>
}

</table>
